#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
  /* margin: 20px auto; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px #333;
}

#square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
}

#square:hover {
  background-color: #ddd;
}

#restart_btn {
  display: flex;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 5px #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#restart_btn:hover {
  background-color: #444;
  box-shadow: 0px 0px 8px #444;
}

#restart_btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 5px #333;
}
