:root {
  --header-bg: #0b2545;
  --header-text: #6fa8dc;

  --sidebar-bg: #e6e6e6;
  --sidebar-text: #444444;

  --footer-bg: #333333;
  --footer-text: #cccccc;

  --main-bg: #bddabd;
  --main-text: #1a472a;
}
