@import './styles/colors.css';

.main-content {
  background-color: var(--main-bg);
  color: var(--main-text);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 0;
  }
}
